{% load static %} {% load pwa %}
<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  {% progressive_web_app_meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" type="image/png" href="{% static 'icon.png' %}" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />

  <link rel="stylesheet" type="text/css" href="https://dl.dropboxusercontent.com/s/ecyb1drs5j1jyjf/styles.css?dl=0" />
  <link rel="stylesheet" type="text/css" href="https://dl.dropboxusercontent.com/s/xmxsoypfvfvsisb/footer.css?dl=0" />
  <!--login /register css javascropt link and css-->
   <!----->
  <link rel="stylesheet" href="{% static 'layout.css' %}">

  {% block cssfiles %}{% endblock cssfiles %}
  <title>Champaran Consultancy</title>
  <style>
    .carousel-container {
    position: relative;
}

.search-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0); /* Adjust the opacity as needed */
    padding: 20px;
    transition: background-color 0.3s; /* Optional: Add a smooth transition effect */
}

  </style>
</head>

<body>
  {% if not rec_navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top ">
    <a class="navbar-brand ml-auto" href="{% url 'detail-candidates' %}">
      <img src="{% static 'logo.png' %}" width="191" height="36" class="d-inline-block align-top mr-3"
        alt="" /><b></b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link {{ candidate_home }}" href="{% url 'detail-candidates' %}">Home</a>
        <a class="nav-item nav-link {{ home_page }}" href="{% url 'home' %}">Job Search</a>
        <a class="nav-item nav-link {{ intel_page }}" href="{% url 'intelligent-search' %}">Get Relevant Jobs</a>
        <a class="nav-item nav-link {{ profile_page }}" href="{% url 'my-profile' %}">My Profile</a>
        <a class="nav-item nav-link {{ account_page }}" href="{% url 'account' %}">My Account</a>
        {% if user.is_authenticated %}
        <a class="nav-item nav-link btn btn-danger ml-4 mr-4 text-light" href="{% url 'logout' %}">Logout</a>
        <!--<a class="nav-item nav-link" href="{% url 'add-job' %}">Recruiters/ Employers</a>
        -->{% else %}
        <a class="nav-item nav-link btn btn-outline-primary bg-primary ml-4 mr-4 text-white" href="{% url 'login' %}">Login</a>
        <a class="nav-item nav-link btn btn-dark ml-4 mr-4 text-light" href="{% url 'register' %}">Register</a>
      
        <a class="nav-item nav-link" href="{% url 'adminlogin' %}">Recruiters/ Employers</a>
        {% endif %}
      </div>
    </div>
  </nav>
  {% else %}
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand" href="{% url 'detail-candidates' %}">
      <!-- <a class="navbar-brand" href="{% url 'detail-recruiters' %}"> -->
      <img src="{% static 'logo.png' %}" width="191" height="36"
        class="d-inline-block align-top mr-3" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-item nav-link {{ rec_details }}" href="{% url 'detail-recruiters' %}">Home</a> -->
        <a class="nav-item nav-link {{ add_job_page }}" href="{% url 'add-job' %}">Add Job Post</a>
        <a class="nav-item nav-link {{ manage_jobs_page }}" href="{% url 'job-list' %}">Manage Your Job Posts</a>
        <a class="nav-item nav-link {{ search_candidates_page }}" href="{% url 'search-candidates' %}">Seach
          Candidates</a>
        {% if user.is_authenticated %}
        <a class="nav-item nav-link btn btn-danger ml-4 mr-4 text-light" href="{% url 'logout' %}">Logout</a>
        {% else %}
        
        <a class="nav-item nav-link btn btn-primary ml-4 mr-4 text-light {{ adminloginPage }}" href="{% url 'adminlogin' %}">Login</a>
        <a class="nav-item nav-link" href="{% url 'home' %}">Job Seekers/Candidates</a>
        {% endif %}
        
      </div>
    </div>
  </nav>
  {% endif %}
  <div class="carousel-container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://source.unsplash.com/7iSEHWsxPLw/1600x600" class="d-block w-100" style="max-height: 75vh; width: 100%; object-fit: cover;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <!-- Your caption content here -->
                </div>
            </div>
        </div>
    </div>

    <div class="search-form">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
                <form class="form-signin mt-4" action="{% url 'job-search-list' %}" method="get">
                    <input name="p" type="text" class="form-control" placeholder="Enter Job Title, Skills, Type or Company" /><br />
                    <input name="q" type="text" class="form-control" placeholder="Enter Job Location" />
                    <br />
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Search Jobs
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


  
  <div class="container">{% block content %}{% endblock content %}</div>

  <footer>
    <hr my-2 />
    <div class="row">
      <div class="col-sm-6 col-md-4 footer-navigation">
        <h3>Champaran concultancy</h3>
        <p class="links">
          <a href="{% url 'detail-candidates' %}">Job Seekers</a><strong> · </strong><a
            href="{% url 'add-job' %}">Recruiters</a><strong> · </strong><a
            href="{% url 'pricing' %}">Pricing</a>
          <strong> · </strong><a href="#">Terms of Service</a>
          <strong> · </strong><a href="#">Privacy Policy</a>
        </p>
        <p class="company-name">
          Champaran concultancy @ 2023<br /><small class="text-muted">All rights reserved!</small><br />
        </p>
      </div>
      <div class="col-sm-6 col-md-4 footer-contacts">
        <div>
          <span class="fa fa-map-marker footer-contacts-icon"></span>
          <p><span class="new-line-span">Motihari</span>BIHAR, India</p>
        </div>

        <div>
          <i class="fa fa-envelope footer-contacts-icon"></i>
          <p><a href="#" target="_blank">utkarshraj432k@gmail.com</a></p>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4 footer-about">
        <h4>About the company</h4>
        <p>
          Champaran concultancy Networks mission is to make hiring easier. We aim to save
          time for both job seekers and recruiters and to make the hiring
          process smoother. We continue to innovate and find new solutions to
          make hiring process simpler.
        </p>
        <div class="social-links social-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/company/champaran-consultancy-services/"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.youtube.com/@NerdByteCoding"><i class="fa fa-youtube"></i></a> <!-- Replace 'your-channel-link' with your actual YouTube channel link -->
      </div>      
      </div>
    </div>

  </footer>

  <!-- JS Files -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  {% block jsfiles %}{% endblock jsfiles %}
</body>

</html>