{% extends "users/layout.html" %} {% load socialaccount %} {% block content %}
<br>
<br>
<br>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="user_card">
        <div class="d-flex justify-content-center">


          <h3 id="form-title">Enter new password</h3>
        </div>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

        <div class="d-flex justify-content-center form_container">
          <form method="POST" action="">
            {% csrf_token %}
            <div class="input-group mb-2">
                <div class="input-group-append">
                  
                </div>
                {{form}}
            </div>
            {% for message in messages %}
            <p id="messages">{{message}}</p>
            {% endfor %}
            <div class="d-flex justify-content-center mt-3 login_container">
              <input class="btn login_btn" type="submit" value="Change password">
            </div>
          </form>

        </div>

        

        </div>
      </div>
    </div>
  </div>
{% endblock %}