{% extends "users/layout.html" %}
{% load static %}
{% block content %}
<div class="container py-5">
    <div class="row">
    <div class="col-md-6">
      <div class="jumbotron bg-transparent text-center">
        <h1 class="display-4">
          Simplify Your Hiring Process
        </h1>
        <p class="lead">
          Finding the right candidates made easy with our platform.
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{% url 'add-job' %}" role="button">Get Started</a>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="https://source.unsplash.com/pKeF6Tt3c08" alt="Hiring Image" />
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron bg-transparent">
        <h2 class="display-5 text-center">
          Hassle-Free Hiring
        </h2>
        <p class="lead text-center">
          Streamline your hiring process in just a few simple steps. Sign in, provide job details, and you're ready to go!
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbotron bg-transparent">
        <h2 class="display-5 text-center">Unlimited Job Posts for Free</h2>
        <p class="lead text-center">
          Post as many job listings as you need without any charges. We believe in making hiring accessible to all.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron bg-transparent">
        <h2 class="display-5 text-center">
          Search Candidates with Ease
        </h2>
        <p class="lead text-center">
          Access our candidate database to find the perfect match for your job. Directly connect with potential hires.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbotron bg-transparent">
        <h2 class="display-5 text-center">More Features Coming Soon</h2>
        <p class="lead text-center">
          We're committed to making hiring even better. Stay tuned for upcoming features and enjoy premium services for free during the early access period.
        </p>
        <p class="lead text-center">
          <a class="btn btn-primary btn-lg" href="{% url 'add-job' %}" role="button">Start Hiring</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
